* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgb(88, 152, 155), darkblue);
    height: 100vh;    
    display: flex;
    justify-content: center;
}

.app {
    margin-top: 15%;
    width: 70%;
    height: 300px;
    background-color: rgb(179, 211, 239);
    border-radius: 20px;
    padding: 60px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 0.5fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column; 
}

.input-label {
    font-size: 1em;
    margin-bottom: 5px;
}

.input-field {
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    height: 30px;
}

.error {
    color: purple;
    font-size: 0.9em;
    margin-top: 10px;
}

.button-area {
   position: relative;
   top: 19px;
}

#btn-verify-info {
    margin-left: 20px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    height: 30px;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#btn-verify-info:hover {
    transform: scale(1.1);
}
