* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgb(88, 152, 155), darkblue);
    height: 100vh;    
    display: flex;
    justify-content: center;
}

.app {
    margin-top: 15%;
    width: 70%;
    height: 300px;
    background-color: rgb(179, 211, 239);
    border-radius: 20px;
    padding: 60px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.input-field {
    border: none;
    margin-top: 5px;
    padding-left: 10px;
    width: 110%;
    border-radius: 8px;
    height: 30px;
}

#btn-verify-info {
    background-color: darkblue;
    display: flex;
    align-items: center;
    height: 30px;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#btn-verify-info:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.error {
    color: purple;
}
